<ion-view title="My species records" id="myRecords">
	<ion-nav-bar class="header myrecords" align-title="center">
        <ion-nav-back-button class="customBackButton">
        </ion-nav-back-button>
        <ion-nav-title>
            My species records
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button id="customMenuButton" class="button button-icon ion-navicon customMenuButton" ng-click='changeMainMenu()'>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content scroll="true">
		<div class="savedRecords">
			<h2>Saved records</h2>
			<div class="row savedRecordsList" ng-repeat="savedObservation in savedObservations track by $index">
				<div class="col-33 label center">
					<p>{{savedObservation.specie.common_name}} <br/> <span>{{savedObservation.specie.scientific_name}}</span></p>
				</div>
				<div class="col-67 row action center">
					<div class="col-33">
						<img src="img/myrecord_save.png" ng-if="savedObservation.status === 'complete'" ng-click="actionSendEntry({{savedObservation.id}})">
						<img src="img/myrecord_save_disabled.png" ng-if="savedObservation.status === 'incomplete'">
						<br/>
						Send
					</div>
					<div class="col-33" ng-click="actionRemoveEntry({{savedObservation.id}})">
						<img src="img/myrecord_delete.png"><br/>
						Delete
					</div>
					<div class="col-33" ng-click='modify({{savedObservation.id}})'>
						<img src="img/myrecord_edit.png"><br/>
						Modify
					</div>
				</div>
			</div>
		</div>
		<div class="serverRecords">
			<h2>My records</h2>
			<ul class="serverRecordsList">
				<li ng-repeat="serverObservation in serverObservations track by $index | orderBy:'createdAt'">
					<a ui-sref="app.sob({sobId: serverObservation._id})">{{serverObservation.createdAt | limitTo : 10 }} | <span ng-class="serverObservation.properties.Status">{{serverObservation.properties.Status}}</span></a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>

