<ion-view id="reportSighting" cache-view="false">
    <ion-nav-bar class="header specie" align-title="center">
        <ion-nav-back-button class="customBackButton">
        </ion-nav-back-button>
        <ion-nav-title>
            Report a sighting
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button  class="button button-icon ion-navicon customMenuButton" ng-click='changeMainMenu()' id="customMenuButton">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="true" overflow-scroll="true">
        <specie-report-sighting></specie-report-sighting>
    </ion-content>

</ion-view>
