<ion-modal-view class="sidemenu-modal">
    <ion-header-bar>
        <h1 class="title">Acknowledgement</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModalAcknowledgement()"><span class="ion-close-circled"> Close</span></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <p ng-style="appCtrl.accessibilityFont">This application has been developed by INTRASOFT International S.A. for the European Commission Joint Research Centre within the MYGEOSS project, which has received funding from the European Union’s Horizon 2020 research and innovation programme.</p>
    </ion-content>
</ion-modal-view>
